<configuration>
    <appender name="text" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} requestId=%X{requestId:-} method=%X{method:-} path=%X{path:-} status=%X{status:-} durationMs=%X{durationMs:-} - %msg%n%ex</pattern>
        </encoder>
    </appender>

    <appender name="json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>timestamp</fieldName>
                </timestamp>
                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>
                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>
                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>
                <message/>
                <mdc/>
                <arguments/>
                <stackTrace>
                    <fieldName>stack_trace</fieldName>
                </stackTrace>
            </providers>
            <jsonGeneratorDecorator class="net.logstash.logback.mask.MaskingJsonGeneratorDecorator">
                <path>accessToken</path>
                <path>refreshToken</path>
                <path>clientSecret</path>
                <path>password</path>
                <path>apiKey</path>
                <path>Authorization</path>
                <path>access_token</path>
                <path>refresh_token</path>
                <path>client_secret</path>
                <path>api_key</path>
                <path>bootstrapApiKey</path>
                <path>bootstrap_api_key</path>
            </jsonGeneratorDecorator>
        </encoder>
    </appender>

    <appender name="openobserve-json-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${AQT_HEALTH_LOG_FILE:-build/logs/aqt-health.jsonl}</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${AQT_HEALTH_LOG_FILE_ROLLOVER:-build/logs/aqt-health.%d{yyyy-MM-dd}.%i.jsonl.gz}</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>timestamp</fieldName>
                </timestamp>
                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>
                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>
                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>
                <message/>
                <mdc/>
                <arguments/>
                <stackTrace>
                    <fieldName>stack_trace</fieldName>
                </stackTrace>
            </providers>
            <jsonGeneratorDecorator class="net.logstash.logback.mask.MaskingJsonGeneratorDecorator">
                <path>accessToken</path>
                <path>refreshToken</path>
                <path>clientSecret</path>
                <path>password</path>
                <path>apiKey</path>
                <path>Authorization</path>
                <path>access_token</path>
                <path>refresh_token</path>
                <path>client_secret</path>
                <path>api_key</path>
                <path>bootstrapApiKey</path>
                <path>bootstrap_api_key</path>
            </jsonGeneratorDecorator>
        </encoder>
    </appender>

    <appender name="openobserve-http" class="me.aquitano.health.infrastructure.logging.OpenObserveHttpAppender">
        <url>${OPENOBSERVE_LOG_URL:-}</url>
        <authorization>${OPENOBSERVE_AUTHORIZATION:-}</authorization>
        <service>aqt-health</service>
        <environment>${AQT_HEALTH_ENV:-local}</environment>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>timestamp</fieldName>
                </timestamp>
                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>
                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>
                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>
                <message/>
                <mdc/>
                <arguments/>
                <stackTrace>
                    <fieldName>stack_trace</fieldName>
                </stackTrace>
            </providers>
            <jsonGeneratorDecorator class="net.logstash.logback.mask.MaskingJsonGeneratorDecorator">
                <path>accessToken</path>
                <path>refreshToken</path>
                <path>clientSecret</path>
                <path>password</path>
                <path>apiKey</path>
                <path>Authorization</path>
                <path>access_token</path>
                <path>refresh_token</path>
                <path>client_secret</path>
                <path>api_key</path>
                <path>bootstrapApiKey</path>
                <path>bootstrap_api_key</path>
            </jsonGeneratorDecorator>
        </encoder>
    </appender>

    <appender name="openobserve-async" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>1024</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <neverBlock>true</neverBlock>
        <appender-ref ref="openobserve-http"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="${AQT_HEALTH_LOG_FORMAT:-text}"/>
        <appender-ref ref="openobserve-json-file"/>
        <appender-ref ref="openobserve-async"/>
    </root>

    <logger name="io.netty" level="INFO"/>
    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="org.flywaydb" level="INFO"/>
    <logger name="org.jetbrains.exposed" level="WARN"/>
    <!-- Per-statement SQL logging; set AQT_HEALTH_SQL_LOG_LEVEL=DEBUG to trace statements. -->
    <logger name="me.aquitano.health.database.Sql" level="${AQT_HEALTH_SQL_LOG_LEVEL:-INFO}"/>
</configuration>
